@model FlightRecorder.Mvc.Models.AirportViewModelBase

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.CountryId)</strong>
            <div class="input-group">
                @Html.DropDownListFor(m => m.CountryId, Model.Countries, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.Code)</strong>
            <div class="input-group">
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.Name)</strong>
            <div class="input-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br />
</div>
