@model FlightRecorder.Mvc.Models.FlightViewModelBase

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.AirlineId)</strong>
            <div class="input-group">
                @Html.DropDownListFor(m => m.AirlineId, Model.Airlines, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.AirlineId, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.FlightNumber)</strong>
            <div class="input-group">
                @Html.TextBoxFor(m => m.FlightNumber, new {
                    @class = "form-control",
                    style = "text-transform: uppercase;",
                    oninput = "this.value = this.value.toUpperCase();"
                })
            </div>
            <span>@Html.ValidationMessageFor(m => m.FlightNumber, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.Embarkation)</strong>
            <div class="input-group">
                @Html.TextBoxFor(m => m.Embarkation, new {
                    @class = "form-control",
                    style = "text-transform: uppercase;",
                    oninput = "this.value = this.value.toUpperCase();"
                })
            </div>
            <span>@Html.ValidationMessageFor(m => m.Embarkation, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.Destination)</strong>
            <div class="input-group">
                @Html.TextBoxFor(m => m.Destination, new {
                    @class = "form-control",
                    style = "text-transform: uppercase;",
                    oninput = "this.value = this.value.toUpperCase();"
                })
            </div>
            <span>@Html.ValidationMessageFor(m => m.Destination, "", new { @class = "text-danger" })</span>
        </div>
    </div>
    <br />
</div>
